@model BigSchool.Models.Course

@{
    ViewBag.Title = "Create";
}

<h2>BigSchool</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(m=>m.Place)
        @Html.TextBoxFor(m => m.Place, new { @class = "form-control"})
    </div> 
    <div class="form-group">
        @Html.LabelFor(m=>m.DateTime)
        @Html.TextBoxFor(m => m.DateTime, new { @class = "form-control"})
    </div>
</form>
